<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>提取平方根</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
</head>
<body>
    <div class="header">
        <h1>平方根计算器</h1>
        <div class="choose_language">
            <h3>选择一种语言</h3>
            <div class="ref">
                <a asp-controller="Main" asp-action="SetLanguage" asp-route-languageId=@LanguageEnum.Ru>Русский</a>
                <a asp-controller="Main" asp-action="SetLanguage" asp-route-languageId=@LanguageEnum.En>English</a>
                <a asp-controller="Main" asp-action="SetLanguage" asp-route-languageId=@LanguageEnum.Es>Español</a>
            </div>
        </div>
    </div>
    <section>
        <div class="main">
            <form>
                <label>输入一个数字以提取平方根</label>
                <input placeholder="输入号码" class="field" />
                <label>输入小数位数</label>
                <input placeholder="小数位" class="field" />
                <button class="shine-button">计算</button>
                <p class="result">结果:</p>
                <input value="" />
            </form>
        </div>
    </section>
</body>
</html>