<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Extracting the square root</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
</head>
<body>
    <div class="header">
        <h1>Square Roots Calculator</h1>
        <div class="choose_language">
            <h3>Select a language</h3>
            <div class="ref">
                <a asp-controller="Main" asp-action="SetLanguage" asp-route-languageId=@((int)(LanguageEnum.Ru))>Русский</a>
                <a asp-controller="Main" asp-action="SetLanguage" asp-route-languageId=@((int)(LanguageEnum.Ch))>中文</a>
                <a asp-controller="Main" asp-action="SetLanguage" asp-route-languageId=@((int)(LanguageEnum.Es))>Español</a>
            </div>
        </div>
    </div>
    <section>
        <div class="main">
            <form>
                <label>Enter a number to extract the square root</label>
                <input placeholder="Enter the number" class="field" />
                <label>Enter the number of decimal places</label>
                <input placeholder="Decimal places" class="field" />
                <button class="shine-button">Calculate</button>
                <p class="result">Result:</p>
                <input value="" />
            </form>
        </div>
    </section>
</body>
</html>