@model MainDto
﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Extracción de raíz cuadrada</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
</head>
<body>
    <div class="header">
        <h1>Calculadora de raíces cuadradas</h1>
        <div class="choose_language">
            <h3>Seleccione un idioma</h3>
            <div class="ref">
                <a asp-controller="Main" asp-action="SetLanguage" asp-route-languageId=@((int)(LanguageEnum.Ru))>Русский</a>
                <a asp-controller="Main" asp-action="SetLanguage" asp-route-languageId=@((int)(LanguageEnum.En))>English</a>
                <a asp-controller="Main" asp-action="SetLanguage" asp-route-languageId=@((int)(LanguageEnum.Ch))>中文</a>
            </div>
        </div>
    </div>
    <section>
        <div class="main">
            <form asp-controller="Main" asp-action="Calculate">
                <label>Ingrese un número para extraer la raíz cuadrada</label>
                <input placeholder="Introduce el número" class="field" asp-for="Value" />
                <label>Introduzca el número de decimales</label>
                <input placeholder="Lugares decimales" class="field" asp-for="DigitNumber" />
                <button class="shine-button">Calcular</button>
                <p class="result">Resultado:@Model.Result</p>
                <input value="" />
            </form>
        </div>
    </section>
</body>
</html>