<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Извлечение квадратного корня</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
</head>
<body>
    <div class="header">
        <h1>Калькулятор квадратных корней</h1>
        <div class="choose_language">
            <h3>Выберите язык</h3>
            <div class="ref">
                <a asp-controller="Main" asp-action="SetLanguage" asp-route-languageId=@((int)(LanguageEnum.En))>English</a>
                <a asp-controller="Main" asp-action="SetLanguage" asp-route-languageId=@((int)(LanguageEnum.Ch))>中文</a>
                <a asp-controller="Main" asp-action="SetLanguage" asp-route-languageId=@((int)(LanguageEnum.Es))>Español</a>
            </div>
        </div>
    </div>
    <section>
        <div class="main">
            <label>Введите число для извлечения квадратного корня</label>
            <input placeholder="Введите число" class="field" />
            <select>
                <option hidden>Seleccione el número de decimales</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <p class="result">Результат:</p>
            <input value="" />
        </div>
    </section>
</body>
</html>