@model MainDto
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Извлечение квадратного корня</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
</head>
<body>
    <div class="header">
        <h1>Калькулятор квадратных корней</h1>
        <div class="choose_language">
            <h3>Выберите язык</h3>
            <div class="ref">
                <a asp-controller="Main" asp-action="SetLanguage" asp-route-languageId=@((int)(LanguageEnum.En))>English</a>
                <a asp-controller="Main" asp-action="SetLanguage" asp-route-languageId=@((int)(LanguageEnum.Ch))>中文</a>
                <a asp-controller="Main" asp-action="SetLanguage" asp-route-languageId=@((int)(LanguageEnum.Es))>Español</a>
            </div>
        </div>
    </div>
    <section>
        <div class="main">
            <form asp-controller="Main" asp-action="Calculate">
                <label>Введите число для извлечения квадратного корня</label>
                <input placeholder="Введите число" class="field" asp-for="Value" />
                <label>Введите количество знаков после запятой</label>
                <input placeholder="Знаков после запятой" class="field" asp-for="DigitNumber" />
                <button class="shine-button">Вычислить</button>
                <p class="result">Результат:@Model.Result</p>
                <input value="" />
            </form>
        </div>
    </section>
</body>
</html>