<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>提取平方根</title>
    <link rel="stylesheet" href="/Views/css/style.css">
</head>
<body>
    <div class="header">
        <h1>平方根计算器</h1>
        <div class="choose_language">
            <h3>选择一种语言</h3>
            <div class="ref">
                <a href="/Views/RuMain/rumain.html">Русский</a>
                <a href="/Views/EnMain/enmain.html">English</a>
                <a href="/Views/EsMain/esmain.html">Español</a>
            </div>
        </div>
    </div>
    <section>
        <div class="main">
            <label>输入要提取平方根的数字</label>
            <input placeholder="输入一个数字" class="field" />
            <p class="result">结果:</p>
            <input value="" />
        </div>
    </section>
</body>
</html>