<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Extracting the square root</title>
    <link rel="stylesheet" href="/Views/css/style.css">
</head>
<body>
    <div class="header">
        <h1>Square Roots Calculator</h1>
        <div class="choose_language">
            <h3>Select a language</h3>
            <div class="ref">
                <a href="/Views/RuMain/rumain.html">Русский</a>
                <a href="/Views/ChMain/chmain.html">中文</a>
                <a href="/Views/EsMain/esmain.html">Español</a>
            </div>
        </div>
    </div>
    <section>
        <div class="main">
            <label>Enter the number to extract the square root</label>
            <input placeholder="Enter a number" class="field" />
            <select>
                <option hidden>Select the number of decimal places</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <p class="result">Result:</p>
            <input value="" />
        </div>
    </section>
</body>
</html>